global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'job_app'
    # For local Docker on Windows, use host.docker.internal to reach host services
    static_configs:
      - targets: ['host.docker.internal:3001']
    metrics_path: /metrics
